.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    color: red;
}

.game img {
    width: 100%;
    height: auto;
}