.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: column;
    gap: 20px;
    justify-content: center;
    color: red;
}

.game img {
    width: 100%;
    height: auto;
}

.game h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    background-color: green;
    color: white;
    padding: 10px;
    cursor: pointer;
}